In [6]:
import pandas as pd
import geopy
from geopy.geocoders import GoogleV3

In [2]:
precinct = pd.read_csv("/Users/valentinarizzati/Desktop/NYC_precinct_data.csv")

In [3]:
precinct

,precinct,borough,neighbourhood,precinct_address
0,1,Manhattan,"Battery Park, Tribeca",16 Ericsson Place Manhattan
1,5,Manhattan,"Lower East Side, Chinatown",19 Elizabeth Street Manhattan
2,6,Manhattan,"Greenwich Village, Soho",233 West 10 Street Manhattan
3,7,Manhattan,"Lower East Side, Chinatown",19 1/2 Pitt Street Manhattan
4,9,Manhattan,"Lower East Side, Chinatown",321 East 5 Street Manhattan
...,...,...,...,...
72,115,Queens,"Jackson heights, North Corona",92-15 Northern Boulevard Queens
73,120,Staten Island,"Brighton Heights, New Brighton",78 Richmond Terrace Staten Island
74,121,Staten Island,"Graniteville, Bloomfield",970 Richmond Avenue Staten Island
75,122,Staten Island,"New Springville, South Beach",2320 Hylan Boulevard Staten Island
76,123,Staten Island,"Tottenville, Woodrow, Great Kills",116 Main Street Staten Island

In [4]:
precinct.tail()

,precinct,borough,neighbourhood,precinct_address
72,115,Queens,"Jackson heights, North Corona",92-15 Northern Boulevard Queens
73,120,Staten Island,"Brighton Heights, New Brighton",78 Richmond Terrace Staten Island
74,121,Staten Island,"Graniteville, Bloomfield",970 Richmond Avenue Staten Island
75,122,Staten Island,"New Springville, South Beach",2320 Hylan Boulevard Staten Island
76,123,Staten Island,"Tottenville, Woodrow, Great Kills",116 Main Street Staten Island

In [5]:
precinct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   precinct          77 non-null     int64
 1   borough           77 non-null     object
 2   neighbourhood     77 non-null     object
 3   precinct_address  77 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.5+ KB

In [7]:
# Set path to open text file containing Google API key
with open('/Users/valentinarizzati/Desktop/apikey.txt') as f:
    my_key = f.readline()
    f.close

In [8]:
# Set the geolocator and connect to my API key
geolocator = GoogleV3(api_key=my_key)

In [9]:
# Resolve a location from the string displayed in the column STATION_ADJ
precinct["location"] = precinct["precinct_address"].apply(geolocator.geocode)

In [10]:
# Resolve the point (latitude, longitude, altitude) from the location and format appropriately
precinct["point"] = precinct["location"].apply(lambda location: tuple(location.point) if location else None)

In [11]:
# Extract latitude, longitude and altitude from the point
precinct[['latitude', 'longitude', 'altitude']] = pd.DataFrame(precinct['point'].to_list(), index=precinct.index)

In [12]:
precinct.head()

,precinct,borough,neighbourhood,precinct_address,location,point,latitude,longitude,altitude
0,1,Manhattan,"Battery Park, Tribeca",16 Ericsson Place Manhattan,"(16 Ericsson Pl, New York, NY 10013, USA, (40....","(40.7202702, -74.0071976, 0.0)",40.720270,-74.007198,0.0
1,5,Manhattan,"Lower East Side, Chinatown",19 Elizabeth Street Manhattan,"(19 Elizabeth St, New York, NY 10013, USA, (40...","(40.7161942, -73.9974699, 0.0)",40.716194,-73.997470,0.0
2,6,Manhattan,"Greenwich Village, Soho",233 West 10 Street Manhattan,"(233 W 10th St, New York, NY 10014, USA, (40.7...","(40.7342332, -74.00545319999999, 0.0)",40.734233,-74.005453,0.0
3,7,Manhattan,"Lower East Side, Chinatown",19 1/2 Pitt Street Manhattan,"(19 1/2 Pitt St, New York, NY 10002, USA, (40....","(40.7163708, -73.9840589, 0.0)",40.716371,-73.984059,0.0
4,9,Manhattan,"Lower East Side, Chinatown",321 East 5 Street Manhattan,"(321 E 5th St, New York, NY 10003, USA, (40.72...","(40.7265591, -73.9878238, 0.0)",40.726559,-73.987824,0.0

In [13]:
precinct.to_excel("nyc_precinct_coordinates.xlsx")